/* ------- ESTILIZAÇAO GLOBAL ------- */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body,html{
      width: 100%;
      height: 100%;
      font-family: Open Sans, sans-serif;
      color: #fff;
      display: flex;
      flex-direction: column;
      background-color: rgb(19,107,189);
  }
  /* ------- CORPO DA PAGINA/BACKGROUND -------- */
  .myContainer{
  width: 100%;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  }
  
  
  /* ------- BLOCO HEADER -------- */
  .myHeader{
    width: 100%;
    height: 70px;
    background-color: rgb(28,28,28,0.8);
  }
  .myLogo{
   padding: 10px;
  }
  .myLogo > img{
    cursor: pointer;
  }
  
  /* ------- POSICAO DA DIV ------- */
  .myContent{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 15px 180px;
    
  }
  @media (max-width:768px){
    .myContent{
      display: flex;
      justify-content: space-around;
      flex-direction: column; 
      margin: 15px 20px;
    }
    }
  
  /* -------- BLOCO DO FORMULARIO -------- */
  .information{
  background-color: rgb(28,28,28,0.8);
  width: 100%;
  border-radius: 4px;
  padding: 25px;
  margin-right: 20px;
  }
  @media (max-width:768px){
    .information{
    margin-bottom: 20px;
    }
    }
  
  .spanStyle{
    color: rgb(147,133,71);
    }
  
  .title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .subTitle{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 35px;
  }
  
  .form-div{
    margin-bottom: 15px;
  }
  .selectInput{
    margin-top: 10px;
    width: 100%;
    padding: 10px 13px;
  }
  .timeInput{
    margin-top: 10px;
    width: 100%;
    padding: 10px 13px;
  }
  .input-required::before{
    content: "* ";
    color: red;
  }
  
  .btnEnviar{
    margin-top: 30px;
    height: 40px;
    width: 100px;
    border-radius: 35px;
    background-color: rgb(147,133,71);
    color: #fff;
    border: 1px solid black;
    cursor: pointer;
    border: none;
  
  }
  
  /* -------- BLOCO FEEDBACK -------  */
  .feedback{
    width: 100%;
    background-color: rgb(28,28,28,0.8);
    border-radius: 4px;
    position: relative;
    padding: 25px;
  }
  
  
  .line{
    position: absolute;
    width: 100%;
    height: 15px;
    background-color:	#4F4F4F;
    opacity: 0.8;
    left: 0;
    top: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  .feedback-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .feedback-subTitle{
    font-style: italic;
    font-size: 18px;
    font-weight: 300;
  }
  .valorPlano{
    font-size: 22px;
    font-weight: 300;
    margin-top: 40px;
  }
  .planoPreco{
    font-size: 20px;
    color: rgb(147,133,71);
    font-weight: bold;
  }
  
  .valorSemPlano{
    font-size: 22px;
    font-weight: 300;
    margin-top: 20px;
  }
  .semPlanoPreco{
    font-size: 20px;
    /* font-weight: bold; */
  }
  
  .msgError{
    border-radius: 5px;
    font-size: 16px;
    margin-top: 30px;
    background-color: rgb(255,99,71, 0.5);
    padding: 10px;
    font-weight: 300;
    display: none;
  }
  .imgError{
  margin-right: 5px;
  }
  .info-error{ 
    display: flex;
    align-items: center; 
  }
  .errorPipe{
    width: 1px;
    height: 40px;
    margin: 0 10px 0;
    background-color: rgb(255,99,71, 0.5);
    opacity: 0.9;
  }
  
  .msgError2 {
    display: none;
    margin-top: 30px;
  }
  .contratar{
    display: flex;
    justify-content: flex-end;
   
  }
  .btnContratar{
    display: none;
    margin-top: 22px;
    height: 40px;
    width: 100px;
    border-radius: 35px;
    background-color: rgb(147,133,71);
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .btnContratar:hover, .btnEnviar:hover{
    background-color: rgb(192, 174, 94);
  }
  
  
  